<%- include("partials/header") %>

    <main class="center bank-body">
        <div class="home-left center">
            <video src="assets/Bank.mp4" autoplay muted class="bank-img"></video>
            <div class="home-intro">
                <h1 class="grad_text">Welcome to Online Bank</h1>
                <p>Our online banking system provides you to register your bank account, add money, send money.</p>
            </div>
        </div>
        <div class="home-right center">
            <a href="/login"><button class="btn">Login</button></a>
            <a href="/register"><button class="btn">Sign Up</button></a>
        </div>
    </main>

<%- include('partials/footer') %>